body {
    background-color: #1b1b1b;
}

/* MILKFLIX INNEHÅLL */
.show-backgrnd {
    background-color: #282828;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    height: 1300px;
}

.ylw-bar {
    background-color: #ffc119;
    width: 93%;
    height: 40px;
    border-radius: 4px 20px 20px 4px;
    position: relative;
    top: 4%;
    left: 5%;
}

.ylw-bar .search-box:hover > .search-btn {
    background: white;
}
.ylw-bar .search-box {
    position: relative;
    bottom: 13.5px;
    float: right;
    transform: translate(0%, -95%);
    background: #2f3640;
    border-radius: 40px;
    height: 40px;
}
.ylw-bar .search-box:hover > .search-txt {
    width: 200px;
    padding: 0 6px;
}

.ylw-bar .search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.ylw-bar .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.ylw-bar p {
    font-weight: bold;
    margin-left: 20px;
    padding-top: 10px;
}

/* Page Number  */
.pageNumber .none {
    visibility: hidden;
}

.ylw-bar .pageNumber {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    position: relative;
    bottom: 19px;
    left: 200px;
    width: 12%;
}

.ylw-bar .pageNumber a {
    color: black;
}

.ylw-bar .pg-posit {
    background: #00a651;
    padding: 2px 5px;
    display: flex;
}

.backgrnd-series .serie-div ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    justify-items: center;
    margin: 30px;
}

.backgrnd-series {
    width: 80%;
    height: auto;
    margin: inherit;
    background-color: #575757;

}

.backgrnd-series .serie {
    width: 100px;
    height: 150px;
    background-color: #C4C4C4;
    margin: 30px auto 3px;
    
}

.backgrnd-series a p{
    width: 100%;
    margin-top: 8px;
    text-align: center;
    color:#ffc119;
}

.serie img {
    width: 100%;
    height: 100%;
    position: relative;
    top: -15px;
    box-shadow: 1px 1px 4px 2px #1b1b1b;
}

section {
    height: auto;
}

.list-group{
    color: orange;
}

.search-box .list-group-item {
    background-color: grey;
    height: 10%;
    margin-left: 5%;
    width: 85%;
    display: flex;
    font-weight: bold;
    text-transform: capitalize;
}

.intro {
    width: 75%;
    margin: auto;
}

.intro h1 {
    text-align: center;
    margin: 3.5rem 0 1.5rem;
}

.intro p, h3 {
    color: #f4a14f;
    margin: 0.5rem 0;
}

.modal-content iframe {
    margin: auto;
    width: 100%;
}

@media (max-width: 877px) {

    .show-backgrnd {
        height: auto;
    }

    .backgrnd-series {
        height: auto;
    }
}

@media (max-width: 731px){
    .ylw-bar .search-box {
        width: 40%;
        top: 70%;
    } 
    

    .ylw-bar .search-box:hover > .search-txt {
        width: 130px;
    }
    .ylw-bar .search-btn {
        color: #eb3608;
        background: #524b3e;
    }
}

@media (max-width: 570px){
    .ylw-bar .search-box:hover > .search-txt {
        width: 103px;
        
    }
}

@media (max-width: 730px){
    .ylw-bar {
        border-radius: 20px 20px 20px 20px;
    }
}